@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: linear-gradient(to bottom right, #334155 20%, #111827 100%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}